<div class="card edit large">
  <span class="card-title">Admin Product Screen</span>
  <div class="divider"></div>
    <div class="card-content">
      <div class="input-field">
        <input id= "productName" type= "text" class= "validate" [(ngModel)] = "productName" required/>
        <label for= "productName" class="active">Name</label>
      </div>
      <div class="input-field" *ngIf = "isActionTypeAdd">
        <input id= "productCategory" type= "text" class= "validate" [(ngModel)] = "productCategory" required>
        <label for= "productCategory" class="active">Category</label>
      </div>
      <div class="input-field">
        <input id= "productPrice" type= "number" class= "validate" [(ngModel)] = "productPrice" required>
        <label for= "productPrice" class="active">Price</label>
      </div>
      <div class = "file-field input-field">
        <div class = "btn">
          <span>Browse</span>
          <input type = "file" (change) = "fileUpload( $event )"/>
        </div>
        <div class = "file-path-wrapper">
           <input class = "file-path validate" type = "text" placeholder = {{filePlaceHolder}}/>
        </div>
    </div>
  <div class="divider"></div>
  <div class="card-action">
    <span *ngIf = "!isActionTypeAdd"><a class="order center" (click) = "editExistingProduct()">Apply Changes</a></span>
    <span *ngIf = "isActionTypeAdd"><a class="order center" (click) = "addNewProduct( productName, productPrice, productCategory )">Add Product</a></span>
  </div>
</div>
