  <div class="col-sm-12">
     <div class="card medium horizontal">
       <div class="card-stacked">
         <div class="header center">
           <span class="card-title">About Us</span>
         </div>
         <div class="divider"></div>
         <div class="card-content">
           <p>
             Hello, and welcome to our online store! <br/>
             This online store was designed to make it easy for everyone to shop at their own ease, just a few clicks and your order could be on it's way to you! <br/> <br/>
             My name is Niv Grinberg, and I built this site to be as simple, fast, asthetic, and helpul as possible.
             <img src="./assets/niv.jpg"/>
           </p>
         </div>
       </div>
     </div>
   </div>
